/* stylesheet for CEPL documentation
 * oliver bagley 2016/03/22
 * ver 1
 */


/* LEGACY STYLES */
#symbol-index ul{list-style: none;}
.package li{margin-bottom: 20px;}
.package .nicknames{font-weight: normal;}
table{margin: 20px;}
td{padding-bottom: 10px;}

/* --------
   WEBFONTS
   -------- */

@font-face {
    font-family: "Junction";
    src: url("fonts/Junction-webfont.woff") format('woff'),
         url("fonts/Junction-webfont.ttf") format('truetype');
}
@font-face {
    font-family: "CreteRound";
    src: url("fonts/CreteRound-Regular.woff") format('woff'),
         url("fonts/CreteRound-Regular.ttf") format('truetype');
}



/* ---------
   CSS RESET
   --------- */

h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
}



/* ---------
   CORE BODY
   --------- */

body {
    background-color:#ebeae9;
    font-family: "Junction", sans-serif;
    font-size:16px;
    color:#171717;
    margin:0 11%;
}

p {
    line-height:1.5em;
}

ul {
    margin:0;
    padding:0;
}

li {
    margin-left:48px;
    line-height:2em;
    list-style-type: disc;
}

code {
    font-family: monospace;
}


/* ----------
   CORE LINKS
   ---------- */

a, a:link, a:visited {
    /*color:#7f953a;*/
    color:#7f9d1f;
}

a:hover, a:active {
    color:#bada55;
}

code a{
    text-decoration: none;
}



/* ------
   HEADER
   ------ */

header {
    margin-top:32px;
}

h1 {
    font-size:3em;
    margin: 32px 0;
    position:relative;
        width:100%;
}

h1:after {
    content:'';
    border-bottom:3px solid #171717;
    bottom:0px;
    width:100%;
    position:absolute;
    left:0;
}

.description {
    font-size:1.2em;
    margin:0 0 32px 0;
}




/* ------------------
   ARTICLE TYPOGRAPHY
   ------------------ */

h2 {
    font-family: "CreteRound", serif;
    font-size:2em;
    margin: 110px 0 64px;
    width:100%;
    position:relative;
}

h2:before {
    content:'';
    border-bottom:4px solid #d3d3d3;
    bottom:-16px;
    width:100%;
    position:absolute;
    left:0;
}

h3 {
    font-family: "CreteRound", serif;
    font-size:1.6em;
    background: #373737;
    padding: 14px 20px;
    color:#ebeae9;
    text-shadow: 1px 1px 1px #171717, -1px -1px 1px #171717;
}

h4 {
    font-family: "CreteRound", serif;
    font-size:1.3em;
    padding-bottom:4px;
    border-bottom:1px solid #d3d3d3;
    margin:16px 0;
    width:100%;
}




/* --------------------
   FUNCTION LIST STYLES
   -------------------- */

li.package {
    margin-left:0px;
}

.function h4 {
    width:auto;
}

pre {
    background: #d7d5d4;
    padding: 12px 22px;
    margin:0 0 0 0;
    white-space: pre-wrap;
}
